.container{
    /* background-image: url("src\assets\images\background.jpg"); */
    background-repeat: no-repeat;
    background-size:cover;   
}
img{
    width: 20vw;
    height: 40vh;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    
}
.tp-box {
    position: relative;
    width: 20vw;
    height: 40vh;
    margin: 3rem auto;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  .tp-box__front {
    background:transparent;
    color: black;
  }
  .tp-box__side {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; 
    -webkit-backface-visibility: hidden;
    color: #fff;
    cursor: pointer;
  }
  .tp-box__back {
    transform: rotateY(179.9deg);
  }
  .action{
    text-align: center;
    padding: 0;
    margin-top:-40px;
    font-weight: bolder;
    color: rgb(245, 66, 66);
    font-family: "Rockwell";
  }
  .mat-fab{
   background-color:rgb(245, 66, 66);
    color: rgb(250, 237, 237);
    font-size:large;
  }
  [mat-fab]:hover {
    background-color:chocolate;
  }

